In [8]:
import numpy as np
import pandas as pd
import asyncio
import aiohttp
import json
import csv

In [9]:
import requests
import json
from datetime import datetime
from datetime import date
import numpy as np
import pandas as pd

def get_markets(api = "cryptowatch"):
    """get markets available in API"""
    if api == "cryptowatch":
        try:
            r = requests.get("https://api.cryptowat.ch/markets").json()['result']
            exchanges = {item['exchange'] for item in r}
        except:
            print("Error: disfunctional API from Cryptowatch")
    return exchanges

def get_pairs(api = "cryptowatch"):
    """get pairs available in API"""
    if api == "cryptowatch":
        try:
            r = requests.get("https://api.cryptowat.ch/markets").json()['result']
            pairs = {item['pair'] for item in r}
        except:
            print("Error: disfunctional API from Cryptowatch")
    return pairs

In [39]:
def get_ohlc(market, pair, period = 24, api = "cryptowatch", before = "", after = ""):
    """get OHLC prices available in API"""
    period *= 3600
    period = str(period)
    params = []
    url = "https://api.cryptowat.ch/markets/" + market + "/" + pair + "/ohlc"
    print(url)
    if (not before or not after):
        params = [('before', before), ('after', after)]
    if api == "cryptowatch":
        try:
            r = requests.get(url).json()['result'][period]
            #ohlc = [item['pair'] for item in r]
            return pd.DataFrame(r, columns = ['date','open','high','low','close','volume','neg'])
        except:
            print("Error: disfunctional API from Cryptowatch")
            
#columns = ['period','open','high','low','close','volume','neg']

In [113]:
a = get_ohlc("bitfinex", "btcusd")
b = np.reshape(np.array(a['date']), (-1,1))
c =  list( map(date.fromtimestamp, b) )
d = list( map(str, c))
a['date'] = d
a.head()

https://api.cryptowat.ch/markets/bitfinex/btcusd/ohlc

         date    open    high     low   close    volume  neg
0  2017-03-07  1279.3  1282.0  1185.0  1232.4  40153.83  0.0
1  2017-03-08  1232.3  1243.6  1142.1  1150.0  46841.29  0.0
2  2017-03-09  1149.4  1207.6  1136.0  1190.4  24234.53  0.0
3  2017-03-10  1190.3  1339.9   958.5  1115.4  99926.30  0.0
4  2017-03-11  1113.0  1196.6  1101.2  1172.4  31257.13  0.0

In [114]:
a.tail()

           date    open    high     low   close     volume          neg
495  2018-07-12  6377.7  6377.7  6079.9  6249.0  23411.469  145159060.0
496  2018-07-13  6248.7  6339.9  6125.0  6220.0  18539.768  115527330.0
497  2018-07-14  6219.7  6320.0  6179.2  6250.0   8081.261   50436940.0
498  2018-07-15  6250.0  6389.0  6230.3  6347.2  10118.092   64132416.0
499  2018-07-16  6347.2  6711.0  6327.1  6664.2  25227.516  165201700.0

In [7]:
np.random.random(5)

array([0.33282222, 0.58016956, 0.96471922, 0.94195673, 0.23937737])

In [16]:
e = get_markets()
print(e)

{'bittrex', 'kraken', 'quoine', 'bitsquare', 'bitstamp', 'gdax', 'hitbtc', 'bitvc', 'quadriga', 'bitbay', 'mexbt', 'bitfinex', 'cryptsy', 'bithumb', 'okex', 'poloniex', 'cryptofacilities', 'okcoin', 'btc-china', 'bitflyer', 'luno', 'bitmex', 'wex', 'gemini', 'cexio', '796', 'coinone', 'vault-of-satoshi', 'qryptos', 'huobi', 'binance', 'mtgox'}

In [22]:
from datetime import date
print(date.fromtimestamp(15043271698))

2446-09-13